//Theme Colors
$grey-dark: #333333;
$red: #DA3559;
$red-dark: #AE2A47;
$white: #FFFFFF;
$black: #000000;


//Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'IBM Plex Serif', serif;

body {
    margin: 0;
}

h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: $white;
    line-height: 75px;
}

h2 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: $black;
    line-height: 60px;
}

h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

p {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 32px;
    line-height: 52px;
}

.button {
    color: $white;
    background-color: $red;
    height: 58px;
    width: 186px;
    max-width: 100%;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    padding: 20px; 
    margin: 20px auto;
    
    &:hover {
        background-color: $red-dark;
    }
}

.nav-container {
    background-color: $grey-dark;
    display: flex;
    
    .navbar {
        nav {
            ul {
                display: flex;

                li {
                    list-style: none;
    
                    a {
                        text-decoration: none;
                        font-family: $primary-font;
                        font-weight: 700;
                        font-size: 20px;
                        text-transform: uppercases;
                        line-height: 16px;
                        color: $white;
                        border-bottom: solid 2px transparent;
                        padding: 5px;

                        .button:hover {
                            border-color: transparent;
                        }
    
                        &:hover {
                            border-color: $red;
                        }
                    }
                }
            }
        }
    }
}

.hero {
    display: flex;
    position: relative;

    &-content {
        position: absolute;
        width: 550px;
        max-width: 100%;
        margin-left: 50px;

        .subheadline {
            color: $white;
            line-height: 42px;
            font-size: 32px;
            font-family: $secondary-font;
            margin-bottom: 80px;
        }
    }
}

.container {
    &-grey {
        background-color: $grey-dark;
        display: flex;
        justify-content: center;
        text-align: center;

        .content {
            color: $white;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 32px;
            line-height: 52px;
            width: 1100px;
            max-width: 100%;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 246px;
                max-width: 100%;
                background-color: $red;
            }
        }
    }
}

.cta {
    text-align: center;

    &-grey {
        background-color: $grey-dark;
        color: $white;
        text-align: center;
        padding-bottom: 45px;

        h2 {
            color: $white;
            padding-top: 45px;
        }

        .content {
            font-size: 24px;
            line-height: 34px;
            padding-bottom: 20px;
        }
    }
}

.quote {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
        width: 1200px;
        max-width: 100%;

        &::before {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            max-width: 100%;
            background-color: $red;
        }
    
        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            max-width: 100%;
            background-color: $red;
        }
    }
}

.cards-container {
    text-align: center;
    
    .cards-inner {
        display: flex;
        padding: 0 20px;

        .card {
            width: (100% /3);
            max-width: 100%;
            text-align: left;
        }
    }
}
